body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.my-link-style:link, .my-link-style:visited, .my-link-style:hover, .my-link-style:active {
    color: black;
    text-decoration: none;
}
