{% extends 'base.html' %}

{% load static %}

{% block title %}記録一覧モード | Memorization Assistant{% endblock %}

{% block contents %}
    <div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for register in register_list %}
                    <div>
                    <a href="#" class="my-button-style">
                        <h2>
                            {{ forloop.counter }}: {{ register.question|truncatechars:20 }}
                        </h2>
                        <h3>
                            学習日: {{ register.studied_at }}
                        </h3>
                    </a>
                    </div>
                    <hr>
                {% empty %}
                    <p>記録がありません。</p>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
