{% extends 'base.html' %}

{% block title %}管理モード | Memorization Assistant{% endblock %}

{% block contents %}
    <div class="my-div-style container text-center">
        <h1>学習内容一覧</h1>
        {% for register in register_list %}
            <a href="{% url 'assistant:register_detail' register.pk %}" class="my-button-style">
                <p>
                    {{ forloop.counter }}: {{ register.question|truncatechars:20 }}
                </p>
                <p>
                    学習日: {{ register.studied_at }}
                </p>
            </a>
            <hr>
        {% empty %}
            <p>記録がありません。</p>
        {% endfor %}
    </div>
{% endblock %}
