{% extends 'base.html' %}

{% load static %}

{% block title %}記録閲覧モード | Memorization Assistant{% endblock %}

{% block contents %}
    <div class="my-div-style container">
        <h2 class="text-center">学習内容</h2>
        <p class="text-center">問題:{{ object.question }}</p>
        <p class="text-center">解答:{{ object.answer }}</p>
        <p class="text-center">学習日:{{ object.studied_at }}</p>
        <div class="d-flex justify-content-center">
        <input type="button" value="学習内容を編集する" onclick="location.href='{% url 'assistant:register_update' object.pk %}'">
        <input type="button" value="一覧に戻る" onclick="location.href='{% url 'assistant:register_list' %}'">
        </div>
        <hr class="text-center">
        <h2 class="text-center">復習の記録</h2>
        {% for review in review_list %}
            <a href="{% url 'assistant:review_record_update' review.pk %}" class="my-button-style">
            <p class="text-center">{{ forloop.counter }}回目:{{ review.reviewed_at }}:
                {% if review.result %}
                    正答
                {% else %}
                    誤答
                {% endif %}
            </p>
            </a>
        {% empty %}
            <h3 class="text-center">復習の記録はありません。</h3>
        {% endfor %}
    </div>
{% endblock %}
