{% extends 'base.html' %}

{% block title %}管理モード | Memorization Assistant{% endblock %}

{% block contents %}
    <div class="my-div-style container text-center">
        <h1>学習内容</h1>
        <p>問題:{{ object.question }}</p>
        <p>解答:{{ object.answer }}</p>
        <p>学習日:{{ object.studied_at }}</p>
        <button type="button" onclick="location.href='{% url 'assistant:update_register' object.pk %}'">学習内容を編集する
        </button>
        <button type="button" onclick="location.href='{% url 'assistant:register_list' %}'">一覧に戻る</button>
        <hr>
        <h2>復習の記録</h2>
        {% for review in review_list %}
            <a href="{% url 'assistant:update_review_record' review.pk %}" class="my-button-style">
                <p>{{ forloop.counter }}回目:{{ review.reviewed_at }}:

                    {% if review.result %}
                        正答
                    {% else %}
                        誤答
                    {% endif %}

                </p>
            </a>
        {% empty %}
            <h3>復習の記録はありません。</h3>
        {% endfor %}
    </div>
{% endblock %}
