{% extends 'base.html' %}

{% load static %}

{% block title %}復習モード | Memorization Assistant{% endblock %}

{% block head %}
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
{% endblock %}

{% block contents %}
    <section>
        <div class="my-div-style container-fluid h-75 d-flex align-items-center justify-content-center">
            <div class="col">
                <div class="text-center">
                    <h2 class="">問題</h2>
                    <p id="mondaibun"></p>
                    <div class="d-flex justify-content-center">
                        <input class="row" type="button" value="解答を表示する" onclick="ChangeKaitouVisibility()"/>
                    </div>
                </div>
                <hr>
                <div id="kaitou" class="text-center">
                    <h2>解答</h2>
                    <p id="kaitoubun"></p>
                    <div>
                        <h6>正答できましたか？</h6>
                        <input class="" type="button" value="Yes" onclick="makeKaitouHidden();countUpOrFinish();setReview()"/>
                        <input class="" type="button" value="No" onclick="makeKaitouHidden();countUpOrFinish();setReview()"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        let reviewList = [{% for review in review_list %}
            {{% for k, v in review.items %}
            {% if k == 'pk' %}    {{ k }}: {{ v }}{% else %}    {{ k }}: '{{ v }}'{% endif %},{% endfor %}
            },
        {% endfor %}]


        function makeKaitouHidden() {
            document.getElementById('kaitou').style.visibility = 'hidden'
        }

        function ChangeKaitouVisibility() {
            const kaitou = document.getElementById('kaitou');

            if (kaitou.style.visibility == 'hidden') {
                kaitou.style.visibility = 'visible'
            } else {
                kaitou.style.visibility = 'hidden'
            }
        }

        let count = 1;

        function countUpOrFinish() {
            if (count < reviewList.length) {
                count += 1
            }
        }

        let pk

        function setReview() {
            document.getElementById('mondaibun').innerHTML = reviewList[count - 1]['question'];
            document.getElementById('kaitoubun').innerHTML = reviewList[count - 1]['answer'];
            pk = reviewList[count - 1]['pk'];
        }

        makeKaitouHidden();
        setReview()

        {#document.getElementById('mondaibun').innerHTML = reviewList[count-1]['question'];#}
        {#document.getElementById('kaitoubun').innerHTML = reviewList[count-1]['answer'];#}

    </script>

{% endblock %}
