{% extends 'base.html' %}

{% load static %}

{% block title %}復習モード | Memorization Assistant{% endblock %}

{% block head %}
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>

    <script type="text/javascript">
        let reviewList = {{ review_list|safe }};

        function makeKaitouHidden() {
            document.getElementById('kaitou').style.visibility = 'hidden'
        }

        function ChangeKaitouVisibility() {
            const kaitou = document.getElementById('kaitou');

            if (kaitou.style.visibility === 'hidden') {
                kaitou.style.visibility = 'visible'
            } else {
                kaitou.style.visibility = 'hidden'
            }
        }

        let count = 1;

        function countUpOrFinish() {
            if (count < reviewList.length) {
                count += 1
            } else {
                document.getElementById('review').innerHTML = '<h1 class="text-center">解答終了</h1>'
            }
        }

        let pk

        let result

        function setReview() {
            document.getElementById('mondaibun').innerHTML = reviewList[count - 1]['question'];
            document.getElementById('kaitoubun').innerHTML = reviewList[count - 1]['answer'];
            pk = reviewList[count - 1]['pk'];
            result = true
        }

        function incorrect() {
            result = false
        }

        function recordReview() {
            $.ajax({
                url: '{% url 'assistant:create_review_record' %}',
                type: 'POST',
                data: JSON.stringify({pk: pk, result: result})
            })
        }

        function empty() {
            if (reviewList.length === 0) {
                document.getElementById('review').innerHTML = '<h3>本日の復習対象はありません。</h3>';
                return true
            } else {
                return false
            }
        }

        window.onload = function () {
            if (empty()) {
            } else {
                makeKaitouHidden();
                setReview()
            }
        }

    </script>

{% endblock %}

{% block contents %}
    <div class="my-div-style container text-center">
        <h1>復習</h1>
        <div id="review">
            <div>
                <h3>問題</h3>
                <p id="mondaibun"></p>
                <button type="button" onclick="ChangeKaitouVisibility()">
                    解答を表示する
                </button>
                <hr>
            </div>
            <div id="kaitou">
                <h3>解答</h3>
                <p id="kaitoubun"></p>
                <p>正答できましたか？</p>
                <button class="" type="button"
                        onclick="recordReview();makeKaitouHidden();countUpOrFinish();setReview()">
                    Yes
                </button>
                <button class="" type="button"
                        onclick="incorrect();recordReview();makeKaitouHidden();countUpOrFinish();setReview()">
                    No
                </button>
            </div>
        </div>
    </div>

{% endblock %}
