{% extends 'base.html' %}

{% load static %}

{% block title %}知識の定着を支援するWebアプリケーション | Memorization Assistant{% endblock %}

{% block header %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Memorization Assistant</h1>
                <h2 class="masthead-subheading mb-0">知識の定着を支援する<br>Webアプリケーション</h2>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Log In</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
{% endblock %}

{% block contents %}
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">学んだのに<br>思い出せない。</h2>
                        <p>このあいだ調べた英単語の意味を、今日もまた調べている。<br>
                            こういった経験は誰にでもあるのではないでしょうか。<br>
                            いちど学んだくらいでは、なかなか知識は定着しないものです。復習が肝心だといえます。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">復習は<br>気が進まない。</h2>
                        <p>しかし、復習というものは往々にして退屈です。<br>
                            新たな知識を学ぶときとは違い、復習には刺激や新鮮味は期待できません。<br>
                            復習しようという気にならないのは、自然なことです。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">それなら<br>お任せ下さい。</h2>
                        <p>そこで、この Memorization Assistant があなたの復習をマネジメントし、知識の定着を支援します。<br>
                            復習をするために悲壮な決意を固める必要はありません。<br>
                            気軽にログインして、あとはあなたのアシスタントにお任せください。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}