{% extends 'base.html' %}

{% block title %}知識の定着を支援するWebアプリケーション | Memorization Assistant{% endblock %}

{% block contents %}
        <div class="my-div-style container text-center">
                <div class="row">
                    <div class="col">
                        <button type="button" onclick="location.href='{% url 'assistant:registration' %}'" class="rounded-pill my-link-style">
                                    <h1 class="text-center">登録</h1>
                                    <p class="text-center">新たに学んだことをデータベースに登録しておきましょう。<br>
                                        登録された内容は、復習モードにおいて最適なタイミングで出題されます。</p>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" onclick="location.href='{% url 'assistant:review' %}'" class="rounded-pill my-link-style">
                                    <h1 class="text-center">復習</h1>
                                    <p class="text-center">"いま"復習すべきことをデータベースから出題します。<br>
                                        復習の結果は記録され、次の出題タイミングの算出に用いられます。</p>
                        </button>
                    </div>
                </div>
                <hr>
                <div>
                    <button type="button" onclick="location.href='{% url 'assistant:register_list' %}'" class="rounded-pill my-link-style">
                                <h1 class="text-center">管理</h1>
                                <p class="text-center">登録された学習内容と復習の記録を確認できます。<br>
                                修正と削除はここから可能です。</p>
                    </button>
                </div>
        </div>
{% endblock %}
